**/target/

**/Cargo.lock

**/*.rs.bk

*.o
*.so
examples/android/app/src/main/jniLibs/**
examples/iOSExample/TokenCoreX/**
tools/android-token-v2-build.sh
tools/ios-token-v2-build.sh
*.rlib
*.dll
.gdb_history

*.exe

.DS_Store

.idea
.vscode
generated/
*.iml
*.swp
*.swo

test-data/**


lcov.info
ccov/
