**/target/

**/Cargo.lock

**/*.rs.bk

*.o
*.so
!examples/android/app/src/main/jniLibs/**
!examples/iOSExample/TokenCoreX/Include/**
!examples/iOSExample/TokenCoreX/Libs/**
*.rlib
*.dll
.gdb_history

*.exe

.DS_Store

.idea
.vscode
generated/
*.iml
*.swp
*.swo

test-data/**


lcov.info
ccov/
