[package]
name = "tcx"
version = "0.1.0"
authors = ["Neal Xu <imxuneal@gmail.com>"]
edition = "2018"

[dependencies]
tcx-crypto = { path = "../tcx-crypto" }
tcx-chain = { path = "../tcx-chain" }
tcx-btc-fork = {path = "../tcx-btc-fork"}
tcx-tron = {path = "../tcx-tron"}
libc = "0.2.0"
log = "0.4.6"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
failure = "0.1.5"
lazy_static = "1.3.0"


#[target.'cfg(unix)'.build-dependencies]
#bindgen = "0.49.0"

[lib]
name = "tcx"
crate-type = ["staticlib", "cdylib", "rlib"]
#link = "TrezorCrypto"
build = "build.rs"
