on: [push, pull_request]

name: CI

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --all -- --test-threads=1
          env: 
            KDF_ROUNDS: 1024

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  e2e:
    name: e2e
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - uses: hecrj/setup-rust-action@v1
      - name: Add iOS target
        run: |
          rustup target add aarch64-apple-ios armv7-apple-ios armv7s-apple-ios i386-apple-ios x86_64-apple-ios
        shell: bash

      - name: Generate the compiled files
        run: |
          cargo install cargo-lipo
          cargo install cbindgen
          make build-ios-rn-example
        shell: bash

      - name: Install detox dependencies
        run: |
          brew tap wix/brew
          brew install applesimutils

      - name: Run e2e test
        env:
          # force xcode 11.2.1
          DEVELOPER_DIR: /Applications/Xcode_11.2.1.app/Contents/Developer
        run: |
          make e2e
